In [34]:
from pandas.io.wb import download

In [36]:
## 4.2
YEAR = 2013
GDP_INDICATOR = 'NY.GDP.MKTP.CD'
gdp = download(indicator=GDP_INDICATOR, country=['GB', 'CN'], start=YEAR-5, end=YEAR)
gdp = gdp.reset_index()
gdp

           country  year  NY.GDP.MKTP.CD
0            China  2013    9.490603e+12
1            China  2012    8.461623e+12
2            China  2011    7.492432e+12
3            China  2010    6.039659e+12
4            China  2009    5.059420e+12
5            China  2008    4.558431e+12
6   United Kingdom  2013    2.678173e+12
7   United Kingdom  2012    2.614946e+12
8   United Kingdom  2011    2.592016e+12
9   United Kingdom  2010    2.407857e+12
10  United Kingdom  2009    2.308995e+12
11  United Kingdom  2008    2.791682e+12

In [37]:
gdp.groupby('country')['NY.GDP.MKTP.CD'].aggregate(sum)

country
China             4.110217e+13
United Kingdom    1.539367e+13
Name: NY.GDP.MKTP.CD, dtype: float64

In [39]:
gdp.groupby('year')['NY.GDP.MKTP.CD'].aggregate(sum)

year
2008    7.350113e+12
2009    7.368415e+12
2010    8.447515e+12
2011    1.008445e+13
2012    1.107657e+13
2013    1.216878e+13
Name: NY.GDP.MKTP.CD, dtype: float64

In [41]:
## 4.6
filename='comtrade.csv'
df=read_csv(filename, dtype={'Commodity Code':str, 'Reporter Code':str })

In [42]:
URL='http://comtrade.un.org/api/get?max=5000&type=C&freq=A&px=HS&ps=2014%2C2013%2C2012&r=826&p=all&rg=all&cc=0401%2C0402&fmt=csv'
df=read_csv(URL, dtype={'Commodity Code':str, 'Reporter Code':str})

In [43]:
COLUMNS = ['Year', 'Period','Trade Flow','Reporter','Partner', 'Commodity','Commodity Code','Trade Value (US$)']
df=df[COLUMNS]

In [44]:
world = df[df['Partner'] == 'World']
countries = df[df['Partner'] != 'World']

In [45]:
countries.to_csv('saved_country_data_example.csv', index=False)

In [46]:
## 4.9
data=[['A',10],['A',15],['A',5],['A',20],
	      ['B',10],['B',10],['B',5],
	      ['C',20],['C',30]]
df=DataFrame(data=data, columns=["Commodity","Amount"])
df

  Commodity  Amount
0         A      10
1         A      15
2         A       5
3         A      20
4         B      10
5         B      10
6         B       5
7         C      20
8         C      30

In [47]:
grouped = df.groupby('Commodity')

In [48]:
grouped.get_group('B')

  Commodity  Amount
4         B      10
5         B      10
6         B       5

In [49]:
grouped.groups.keys()

['A', 'C', 'B']

In [56]:
grouped=df.groupby('Commodity')

grouped.aggregate(sum)

           Amount
Commodity
A              50
B              25
C              50

In [57]:
def top2byAmount(g):
	return g.sort('Amount', ascending=False).head(2)

grouped.apply(top2byAmount)

             Amount
Commodity
A         3      20
          1      15
B         4      10
          5      10
C         8      30
          7      20

In [58]:
df

  Commodity  Amount
0         A      10
1         A      15
2         A       5
3         A      20
4         B      10
5         B      10
6         B       5
7         C      20
8         C      30

In [59]:
grouped = df.groupby('Commodity')
grouped.aggregate(len)

           Amount
Commodity
A               4
B               3
C               2

In [60]:
def groupsOfAtMostThreeRows(g):
	return len(g) <= 3

grouped.filter(groupsOfAtMostThreeRows)

  Commodity  Amount
4         B      10
5         B      10
6         B       5
7         C      20
8         C      30

In [61]:
grouped.aggregate(sum)

           Amount
Commodity
A              50
B              25
C              50

In [62]:
def groupTotalAmountMoreThan40(g):
	return sum(g['Amount']) > 40

grouped.filter(groupTotalAmountMoreThan40)

  Commodity  Amount
0         A      10
1         A      15
2         A       5
3         A      20
7         C      20
8         C      30

In [64]:
## 4.18
df = DataFrame({"Commodity":["A","A","A","A","B","B","B","C","C"],
"Amount":[10,15,5,20,10,10,5,20,30],
"Partner":["P","P","Q","Q","P","P","Q","P","Q"],
"Flow":["X","Y","X","Y","X","Y","X","X","Y"]})
df

   Amount Commodity Flow Partner
0      10         A    X       P
1      15         A    Y       P
2       5         A    X       Q
3      20         A    Y       Q
4      10         B    X       P
5      10         B    Y       P
6       5         B    X       Q
7      20         C    X       P
8      30         C    Y       Q

In [65]:
pivot_table(df,
           index=['Commodity', 'Partner'],
           values='Amount',
           aggfunc=sum)

Commodity  Partner
A          P          25
           Q          25
B          P          20
           Q           5
C          P          20
           Q          30
Name: Amount, dtype: int64

In [66]:
pivot_table(df,
               index=['Commodity','Partner','Flow'],
               values='Amount',
               aggfunc=sum)

Commodity  Partner  Flow
A          P        X       10
                    Y       15
           Q        X        5
                    Y       20
B          P        X       10
                    Y       10
           Q        X        5
C          P        X       20
           Q        Y       30
Name: Amount, dtype: int64

In [67]:
pivot_table(df,
	index=['Commodity','Partner'],
	columns=['Flow'],
	values='Amount',
	aggfunc=sum)

Flow                X   Y
Commodity Partner
A         P        10  15
          Q         5  20
B         P        10  10
          Q         5 NaN
C         P        20 NaN
          Q       NaN  30

In [68]:
pivot_table(df,
	index=['Commodity','Partner'],
	columns=['Flow'],
	values='Amount',
	aggfunc=sum,
	margins=True)

Flow                X   Y  All
Commodity Partner
A         P        10  15   25
          Q         5  20   25
B         P        10  10   20
          Q         5 NaN    5
C         P        20 NaN   20
          Q       NaN  30   30
All                50  75  125