In [3]:
deathsInPortugal = 100
deathsInAngola = 200
deathsInBrazil = 300

In [2]:
deathsInPortugal

100

In [9]:
deathsInPortugal = 140

In [10]:
deathsInAngola = 6900
deathsInBrazil = 4400

In [11]:
deathsInPortugal

140

In [12]:
deathsInAngola

6900

In [17]:
deathsinPortugal

140

In [18]:
deathsInAngola + deathsInBrazil + deathsInPortugal

11440

In [19]:
totalDeaths = deathsInAngola + deathsInBrazil + deathsInPortugal

In [20]:
totalDeaths

11440

In [22]:
totalDeaths / 3.0

3813.3333333333335

In [23]:
max(deathsInAngola, deathsInBrazil, deathsInPortugal)

6900

In [24]:
max(deathsInBrazil, deathsInPortugal)

4400

In [25]:
min(deathsInAngola, deathsInBrazil, deathsInPortugal)

140

In [29]:
largest = max(deathsInAngola, deathsInBrazil, deathsInPortugal)
smallest = min(deathsInAngola, deathsInBrazil, deathsInPortugal)
range = largest - smallest
largest

6900

In [30]:
smallest

140

In [31]:
range

6760

In [33]:
# population unit: thousands of inhibitants
populationOfPortugal = 10608
# deaths unit: inhibitants
deathsInPortugal = 140

In [46]:
deathsInPortugal / (populationOfPortugal * 1000.0)

1.3197586726998491e-05

In [45]:
float(deathsInPortugal) / (populationOfPortugal * 1000)

1.3197586726998491e-05

In [38]:
# death rate: deaths per 100 thousands inhibitants
deathsInPortugal * 100.0 / populationOfPortugal

1.3197586726998491

In [41]:
# death rate: deaths per 100 thousands inhibitants
deathsInPortugal * 100 / float(populationOfPortugal)

1.3197586726998491

In [43]:
# death rate: deaths per 100 thousands inhibitants
float(deathsInPortugal) * 100 / populationOfPortugal

1.3197586726998491

In [50]:
# task from Excercise 4
# calculate the deaths per 100 thousand inhabitants for Brazil. 
# Its population in 2013 was roughly 200 million and 362 thousand people.
populationOfBrazil = 200362
deathsInBrazil = 4400
deathsInBrazil / (populationOfBrazil * 1000.0)

2.1960251943981394e-05

In [51]:
float(deathsInBrazil) * 100 / populationOfBrazil

2.1960251943981395

In [52]:
from pandas import *

In [53]:
data = read_excel('WHO_POP_TB_some.xls')
data

                  Country  Population (1000s)  TB deaths
0                  Angola               21472       6900
1                  Brazil              200362       4400
2                   China             1393337      41000
3       Equatorial Guinea                 757         67
4           Guinea-Bissau                1704       1200
5                   India             1252140     240000
6              Mozambique               25834      18000
7                Portugal               10608        140
8      Russian Federation              142834      17000
9   Sao Tome and Principe                 193         18
10           South Africa               52776      25000
11            Timor-Leste                1133        990

In [81]:
data['TB deaths']

0       6900
1       4400
2      41000
3         67
4       1200
5     240000
6      18000
7        140
8      17000
9         18
10     25000
11       990
Name: TB deaths, dtype: int64

In [60]:
population = data['Population (1000s)']
sum(population)

3103150

In [61]:
population.sum()

3103150L

In [63]:
tbColumn = data['TB deaths']
tbColumn.sum()

354715L

In [64]:
sum(tbColumn)

354715

In [65]:
tbColumn.min()

18L

In [66]:
min(tbColumn)

18

In [68]:
max(tbColumn)

240000

In [71]:
sum(tbColumn) / 12.0

29559.583333333332

In [77]:
float(tbColumn.sum())/ 12

29559.583333333332

In [73]:
tbColumn.mean()

29559.583333333332

In [78]:
tbColumn.median()

5650.0

In [86]:
data.sort('TB deaths')

                  Country  Population (1000s)  TB deaths
9   Sao Tome and Principe                 193         18
3       Equatorial Guinea                 757         67
7                Portugal               10608        140
11            Timor-Leste                1133        990
4           Guinea-Bissau                1704       1200
1                  Brazil              200362       4400
0                  Angola               21472       6900
8      Russian Federation              142834      17000
6              Mozambique               25834      18000
10           South Africa               52776      25000
2                   China             1393337      41000
5                   India             1252140     240000

In [87]:
data

                  Country  Population (1000s)  TB deaths
0                  Angola               21472       6900
1                  Brazil              200362       4400
2                   China             1393337      41000
3       Equatorial Guinea                 757         67
4           Guinea-Bissau                1704       1200
5                   India             1252140     240000
6              Mozambique               25834      18000
7                Portugal               10608        140
8      Russian Federation              142834      17000
9   Sao Tome and Principe                 193         18
10           South Africa               52776      25000
11            Timor-Leste                1133        990

In [90]:
data.sort('Country')

                  Country  Population (1000s)  TB deaths
0                  Angola               21472       6900
1                  Brazil              200362       4400
2                   China             1393337      41000
3       Equatorial Guinea                 757         67
4           Guinea-Bissau                1704       1200
5                   India             1252140     240000
6              Mozambique               25834      18000
7                Portugal               10608        140
8      Russian Federation              142834      17000
9   Sao Tome and Principe                 193         18
10           South Africa               52776      25000
11            Timor-Leste                1133        990

In [92]:
data.sort('Population (1000s)')

                  Country  Population (1000s)  TB deaths
9   Sao Tome and Principe                 193         18
3       Equatorial Guinea                 757         67
11            Timor-Leste                1133        990
4           Guinea-Bissau                1704       1200
7                Portugal               10608        140
0                  Angola               21472       6900
6              Mozambique               25834      18000
10           South Africa               52776      25000
8      Russian Federation              142834      17000
1                  Brazil              200362       4400
5                   India             1252140     240000
2                   China             1393337      41000

In [98]:
rateBrazil = deathsInBrazil * 100.0 / populationOfBrazil
rateBrazil

2.1960251943981395

In [99]:
deathsColumn = data['TB deaths']
populationColumn = data['Population (1000s)']
rateColumn = deathsColumn * 100 / populationColumn
rateColumn

0     32.134873
1      2.196025
2      2.942576
3      8.850727
4     70.422535
5     19.167186
6     69.675621
7      1.319759
8     11.901928
9      9.326425
10    47.370017
11    87.378641
dtype: float64

In [104]:
data['TB deaths (per 100,000)'] = rateColumn
data

,Country,Population (1000s),TB deaths,rateColumn,"TB deaths (per 100,000)"
0,Angola,21472,6900,32.134873,32.134873
1,Brazil,200362,4400,2.196025,2.196025
2,China,1393337,41000,2.942576,2.942576
3,Equatorial Guinea,757,67,8.850727,8.850727
4,Guinea-Bissau,1704,1200,70.422535,70.422535
5,India,1252140,240000,19.167186,19.167186
6,Mozambique,25834,18000,69.675621,69.675621
7,Portugal,10608,140,1.319759,1.319759
8,Russian Federation,142834,17000,11.901928,11.901928
9,Sao Tome and Principe,193,18,9.326425,9.326425
10,South Africa,52776,25000,47.370017,47.370017
11,Timor-Leste,1133,990,87.378641,87.378641

In [109]:
data[('Country', 'TB deaths (per 100,00)')]

KeyError: ('Country', 'TB deaths (per 100,00)')